//==========================
// CSS ROOT RULES
//==========================

// Import this module to get all the constants that you need in your css using "@use 'root' as root;"
$header-height: 10vh; // Use: root.$header-height;
$header-padding-top: 10px; // Use: root.$header-padding-top;
$header-padding-bottom: 10px; // Use: root.$header-padding-bottom;

// Colors
$primary: #fde0e0;
$secondary: #a3dcff;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;