---
layout: layouts/base.njk
---

{# HTML partials per page #}
{% if title == "homepage" %}
  {% include "homepage/_homepagePartial.html" %}

{% elif title == "anotherpage" %}
  {% include "anotherPage/_anotherPagePartial.html" %}

{% else %}
  {% include "404/_404.html" %}
{% endif %}