       <div class="container">
    <div class="row">
        <aside class="col-md-3 col-lg-2 d-md-block sidebar collapse">
            <div class="pt-3">
                <h5 class="mb-3 text-muted">Indice</h5>
                
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="">
                            <i class="bi "></i>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Progetti</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Statistiche</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Impostazioni</a>
                    </li>
                </ul>

                <hr>

                <div class="px-3">
                    <p class="small text-muted">Hai bisogno di aiuto? Contatta il supporto tecnico.</p>
                    <button class="btn btn-primary btn-sm w-100">Supporto</button>
                </div>
            </div>
        </aside>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="pt-3 pb-2 mb-3 border-bottom">
                <h1>Contenuto Principale</h1>
            </div>
            <p>Qui va il contenuto della tua pagina...</p>
        </main>
    </div>
</div>