<section id="form-section">
  <div class="container">
    <div class="row pt-4" id="service">
      <div class="col-xl-7 col-12">
        <div class="form-section-content fade show">
          <h1 class="neon-blue" style="font-size: 2rem;"><i class="bi bi-info-circle"></i> Richiedi subito una consulenza!</h1>
          <ul style="font-size: 1.2rem">
            <li><p>Compila il form</p></li>
            <li><p>Mettiamoci in contatto</p></li>
            <li><p>Incontriamoci</p></li>
            <li><p>Accendi il tuo PC e gioca</p></li>
          </ul>
          <button id="openFormBtn" class="btn">Compila il form</button>
        </div>

        <div class="form-section-form fade d-none" id="main-form">
          <h2 class="neon-blue">Di cosa hai bisogno?</h2>
          <ul style="font-size: 1.2rem">
            <li><p class="form-section-form-btn" data-choice="newpc">Ho bisogno di un nuovo PC</p></li>
            <li><p class="form-section-form-btn" data-choice="assistance">Ho bisogno di assistenza</p></li>
          </ul>
        </div>
      </div>

      <div class="col-xl-5 col-12">
        <div class="form-section-image">
          <img src="/assets/images/gaming-desk.jpg" fetchpriority="high"/>
        </div>
      </div>
    </div>
  </div>
</section> 