<div class="nav">
  <a href="/" class="logo">
    <img src="/assets/images/logo.png" alt="Logo" />
  </a>
  <div>
    <a
      class="modernButton"
      href="https://github.com/rhaastrake"
      target="_blank"
      rel="noopener noreferrer"
      ><i class="bi bi-github"> GitHub</i></a
    >
    <a
      class="modernButton"
      href="https://www.linkedin.com/in/michele-garofalo-1966302b6/"
      target="_blank"
      rel="noopener noreferrer"
      ><i class="bi bi-linkedin"> LinkedIn</i></a
    >
  </div>
  <div>
    <a
      class="modernButton"
      data-bs-toggle="modal"
      data-bs-target="#bugReportModal"
      ><i class="bi bi-bug"> Segnala un bug</i></a
    >
  </div>
</div>
