<header>
  <nav class="container">
    <div class="logo neon-blue">
      <a
        href="http://michelegarofalo.gt.tc"
        style="font-weight: 400; font-size: 2.5rem; text-decoration: none"
        >Telofixo.it</a
      >
    </div>
    <div class="nav-buttons">
      <a class="disabled-btn" href="http://www.michelegarofalo.gt.tc/about"
        >Notizie</a
      >
      <a href="#features-prices">Prezzi e servizi</a>
      <a href="http://www.michelegarofalo.gt.tc/about"
        >Chi siamo</a
      >
      <a href="#faq">FAQ</a>
    </div>
    <div class="burger" id="burger-menu">
      <i class="bi bi-list"></i>
    </div>
  </nav>
</header>
