<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
  <head>

    {% set partials = "src/partials/" %}
    {% set pageKey = 'homepage' | lower %}
    {% set pageData = site[pageKey] %}

    <title>{{ pageData.seo.title or title or site.title }}</title>
    <meta name="description" content="{{ pageData.seo.description or site.description }}">
    <meta name="keywords" content="{{ pageData.seo.keywords }}">


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin />

    <link
      rel="shortcut icon"
      href="favicon.ico"
      type="image/x-icon"
    />
  </head>

  <body>
    {% include "_partialExample.html" %}
    

    {% include "global/_resources.html" %}


    <script type="module" src="js/script.js" defer></script>
  </body>
</html>
