---
layout: base.njk
---

<!-- HTML partials per page -->
 
{% if title == "homepage" %}
  {% include "homepage/_examplePartial.njk" %}

{% elif title == "anotherpage" %}
  {% include "anotherPage/_examplePartial.njk" %}

{% else %}
  {% include "404/_404.html" %}
{% endif %}