---
layout: base.njk
---

<!-- NJK (HTML) partials per page -->
 
{% if title == "homepage" %}
  {% include "pages/homepage/_examplePartial.njk" %}

{% elif title == "anotherpage" %}
  {% include "pages/anotherPage/_examplePartial.njk" %}

{% else %}
  {% include "404/_404.njk" %}
{% endif %}